<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CadastroDeFornecedores</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CadastroDeFornecedores.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Fornecedor" asp-action="Index">Cadastro De Fornecedores 1</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Cadastro De Fornecedores 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Cadastro De Fornecedores 3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Cadastro De Fornecedores - <a asp-area="" asp-controller="Fornecedor" asp-action="Index">Inicio</a>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    

    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('search').addEventListener('click', function (e) {
                e.preventDefault();
                var cnpj = document.getElementById('cleave-cnpj').value.replace(/\D/g, '');

                var xhr = new XMLHttpRequest();
                xhr.open('GET', 'https://api-publica.speedio.com.br/buscarcnpj?cnpj=' + cnpj, true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            var data = JSON.parse(xhr.responseText);
                            // Preenche os campos de entrada com os valores obtidos da API
                            document.getElementById('razaoSocial').value = data['RAZAO SOCIAL']; 
                            document.getElementById('nomeFantasia').value = data['NOME FANTASIA'];
                            document.getElementById('email').value = data['EMAIL'];
                            // document.getElementById('telefone').value = data['TELEFONE'];
                            document.getElementById('cep').value = data['CEP'];
                            document.getElementById('numero').value = data['NUMERO'];
                            // document.getElementById('complemento').value = data['COMPLEMENTO'];
                            document.getElementById('bairro').value = data['BAIRRO'];
                            document.getElementById('municipio').value = data['MUNICIPIO'];
                            document.getElementById('uf').value = data['UF'];
                            // document.getElementById('logradouro').value = data['LOGRADOURO'];
                            // console.log(data['logradouro']);
                            // Preencha os outros campos de entrada conforme necessário
                        } else {
                            alert('Erro ao buscar informações do CNPJ.');
                        }
                    }
                };
                xhr.send();
            });
        });
    </script>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('search').addEventListener('click', function (e) {
                e.preventDefault();
                var cnpj = document.getElementById('cleave-cnpj').value.replace(/\D/g, '');

                var xhr = new XMLHttpRequest();
                xhr.open('GET', 'https://minhareceita.org/' + cnpj, true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            var data = JSON.parse(xhr.responseText);
                            // Preenche os campos de entrada com os valores obtidos da API

                            // document.getElementById('razaoSocial').value = data['razao_social'];
                            // document.getElementById('nomeFantasia').value = data['nome_fantasia'];
                            // document.getElementById('email').value = data['email'];
                            document.getElementById('telefone').value = data['ddd_telefone_1'];
                            // document.getElementById('cep').value = data['cep'];
                            // document.getElementById('numero').value = data['numero'];
                            document.getElementById('complemento').value = data['complemento'];
                            document.getElementById('Estado').value = data['uf'];
                            // document.getElementById('bairro').value = data['bairro'];
                            // document.getElementById('municipio').value = data['municipio'];
                            // document.getElementById('uf').value = data['uf'];
                            // document.getElementById('nome_socio').value = data['nome_socio'];
                            // document.getElementById('logradouro').value = data['logradouro'];

                            //  OBSERVAÇÃO QUE ESSA LINHA GRANDE JUNTA 2 ITEM EM 1 INPUT
                            document.getElementById('logradouro').value = (data['descricao_tipo_de_logradouro'] || '') + ' ' + (data['logradouro'] || '');

                            console.log(data['logradouro']);



                            // Preencha os outros campos de entrada conforme necessário
                        } else {
                            alert('Erro ao buscar informações do CNPJ.');
                        }
                    }
                };
                xhr.send();
            });
        });
    </script>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#telefone').inputmask('(99) 9999-9999', { placeholder: '_', showMaskOnHover: false, });
            $('#cleave-cnpj').inputmask('99.999.999/9999-99', { placeholder: '_', showMaskOnHover: false, });
            $('#cep').inputmask('99999-999', { placeholder: '_', showMaskOnHover: false, });
            $('#uf').inputmask('AA', { placeholder: '_', showMaskOnHover: false, });
            $('#numero').inputmask('999999', { placeholder: '', showMaskOnHover: false, });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
